section.campaigns {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

section.campaignDetail {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    display: none;
}

h1.header {
    font-family: "Helvetica", sans-serif;
    font-size: 18px;
    font-weight: lighter;
    margin-bottom: 1px;
}

hr {
    color: rgba(0,0,0,.12);
    margin-top: 1px;
}

.column {
    float: left;
    width: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

span.field {
    display: block;
    font-size: 12px;
    font-weight: lighter;
}

span.label {
    font-weight: bold;
}

fieldset {
    margin: 5px;
    border: 1px solid rgba(0,0,0,.12);
    padding: 5px;
}

legend.title {
    padding: 2px;
    font-size: 16px;
    font-weight: lighter;
}

legend.subtitle {
    padding: 2px;
    font-size: 14px;
    font-weight: lighter;
}

img.campaignImage {
    max-width: 100%;
    height: auto;
}